.unstyledButton,
.iconButton,
.colorButton {
  all: unset;
  cursor: pointer;
  display: flex;
  margin: 0;
  padding: 0.25rem;
  border-radius: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.button,
.smallButton {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem 1rem 0.25rem 1rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  background: var(--pink);
  color: white;
  fill: white;
}

.smallButton {
  padding: 0.12rem 0.2rem;
  border-radius: 0.25rem 0.55rem 0.25rem 0.5rem;
}

.button:hover,
.smallButton:hover {
  box-shadow: 0 0 1rem var(--pink);
  transform-origin: 50% 50%;
  transform: scale(1.01);
}

.smallButton:hover {
  box-shadow: 0 0 0.5rem var(--pink);
}

.colorButton {
  width: 1.25rem;
  height: 1.25rem;
  padding: 0;
  box-shadow: 1px 1px 0 var(--black);
}

.iconButton:focus-visible,
.unstyledButton:focus-visible,
.iconButton:focus-visible,
.colorButton:focus-visible,
.smallButton:focus-visible,
.button:focus-visible {
  outline: 2px solid var(--cyan);
}
