.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.boardInfo {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.boardTitle {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  color: var(--pink);
  text-shadow: 0 0 6px var(--pink);
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.users {
  border-left: 1px solid var(--pink);
  display: flex;
  gap: 0rem;
  align-items: center;
  padding-left: 1.5rem;
}

.users > * {
  margin-left: -0.25rem;
}

.otherActions {
  display: flex;
  align-items: center;
  gap: 1rem;
}
